

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -110px 10px 0px 50px;
    z-index: 9;
    width: 20%;
    max-height: 250px;
}

@media (max-width:992px) and (min-width: 642px)
{

    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }
}

@media (max-width:642px)
{
    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-profile img.fb-image-lg{
        z-index: 0;
        width: 100%;
        margin-bottom: 75px;
    }

    .fb-image-profile
    {
        margin: -120px 10px 0px 25px;
        z-index: 9;
        width: 20%;
        max-height: 250px;
    }

}