

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    /*z-index: 0;*/
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -110px 10px 0px 50px;
    /*z-index: 9;*/
    width: 20%;
    height: 240px;
}

@media (max-width:992px) and (min-width: 642px)
{

    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -80px 10px 0px 50px;
        /*z-index: 9;*/
        height: 182px;
        width: 20%;
    }
}

@media (max-width:642px)
{
    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-profile-text{
        margin-left: 15px;
    }

    .fb-profile img.fb-image-lg{
        /*z-index: 0;*/
        width: 100%;
    }

    .fb-image-profile
    {
        margin: -65px 10px 0px 30px;
        /*z-index: 9;*/
        width: 115px;
        height: 150px;
    }

}

@media (max-width:480px)
{
    .fb-image-profile
    {
        margin: -65px 10px 0px 30px;
        /*z-index: 9;*/
        width: 80px;
        height: 104px;
    }

}