{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'main/template_static_balita/style.css' %}">




    <div class="container">
        <div style="background-color: rgba(255,255,255,0.9);padding: 2em 2em 1em 2em;margin-top: 2em;margin-bottom: 2em;" >
            <h1>About Us</h1>
            <hr>
            <div class="blog-entry">
                <div class="desc" >
                    <p class="first-letra">
                        Till now Srijan was limited to the realms of paper, but now we are expanding to cover more significant topics and the intricacies of college life.
                        A team of 29 literary and technical enthusiasts presents before you the first online edition of Srijan!
                        <br>
                        <br>
                        Website maintained by Aditya Gupta and Amisha Agarwal
                    </p>
                </div>

                


            </div>
        </div>

    </div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>



{% endblock %}