{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%  static 'main/home_style.css' %}">
    <link rel="stylesheet" href="{%  static 'main/base_style.css' %}">
    <title>Srijan</title>






    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Article Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	
	<link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">




	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'main/template_static/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'main/template_static/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'main/template_static/css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'main/template_static/css/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'main/template_static/css/flexslider.css' %}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'main/template_static/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/template_static/css/owl.theme.default.min.css' %}">
	
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'main/template_static/fonts/flaticon/font/flaticon.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'main/template_static/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'main/template_static/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'main/template_static/js/respond.min.js' %}"></script>
	<![endif]-->



	<style>
		.dropbtn {
		  
		  color: white;
		  padding: 16px;
		  font-size: 16px;
		  border: none;
		  cursor: pointer;
		}

		.dropbtn:hover, .dropbtn:focus {
		  background-color: #2980B9;
		}

		.dropdown {
		  z-index: 2;
		  position: relative;
		  display: inline-block;
		}

		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #f1f1f1;
		  min-width: 160px;
		  overflow: auto;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}

		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}

		.dropdown a:hover {background-color: #ddd;}

		.show {display: block;}
	</style>

  </head>

  <body>

  	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

  	<div class="colorlib-loader"></div>
  	<div class="container" id="header">
	   <div class="row" >  <!-- url({% static 'main/bookt.png' %}); -->
		  <div class="col col-lg-3 my-5 text-center">
		  	<img src="{% static 'main/logo.png' %}" style="height: 150px;width: 130px;padding: 10px;margin: 30px auto;">
		  </div>
		  <div class="col col-lg-6 text-center my-5" >
		    		<h1 class="page-header mb-0" style="font-family: serif;font-size:100px;">
		    			Srijan
		    			<br>
		    		</h1>
		    		<span style="font-size: 20px">Motilal Nehru National Institue of Technology, Allahabd</span>
		  </div>
		 
		   
	   </div>
	</div>

	<div id="page">
	  <nav class="colorlib-nav" role="navigation" id="navbar" style="background-color: #FFFFFF">
			<div class="top-menu container">
				<div class="container-fluid ">
					<div class="row">
						<div class="col-xs-2">
							<div id="colorlib-logo"><a href="#">Article.</a></div>
						</div>
						<div class="col-xs-10 menu-1  text-right">
							<ul>
								<li><a href="{% url 'home' %}">Home</a></li>
								<li class="has-dropdown dropdown">
									<a class="dropbtn">Career ▾</a>
									<ul id="myDropdown" class="file_menu dropdown-content">
										<li><a href="{% url 'career' %}?type=intd">Intern Diaries</a></li>
										<li><a href="{% url 'career' %}?type=als">AlumSays</a></li>
										<li><a href="{% url 'career' %}?type=compe">Competetive Exams</a></li>
										<li><a href="{% url 'career' %}?type=all">All</a></li>
									</ul>
								</li>
								<li><a href="{% url 'campus' %}">Campus</a></li>
								<li><a href="{% url 'sos' %}">Sound of Silence</a></li>
								<li><a href="{% url 'publications' %}">Publications</a></li>
								<li><a href="{% url 'aboutus' %}">About Us</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		



      <div class="custom-background pt-3">
        {% block content %} {% endblock %}
      </div>
  </div>


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'main/base_script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- jQuery -->
	<script src="{% static 'main/template_static/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'main/template_static/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'main/template_static/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'main/template_static/js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'main/template_static/js/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'main/template_static/js/owl.carousel.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'main/template_static/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'main/template_static/js/magnific-popup-options.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'main/template_static/js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'main/ajax.js' %}"></script>

	<script>
			// Close the dropdown if the user clicks outside of it
			var dropped = 0;
			window.onclick = function(event) {
			  if (!event.target.matches('.dropbtn')) {
			  	console.log('clicked');
			  	$('ul.file_menu').stop(true, true).slideUp('medium');
			    dropped = 0;
			    $('li.has-dropdown.dropdown > a').css("background-color", "inherit");
			  }
			}

			$(document).ready(function() {
			    $(".dropdown").on("click", 
			        function() {
			        	if(dropped == 0){
				            $('ul.file_menu').stop(true, true).slideDown('medium');
				            dropped = 1;
				            $('li.has-dropdown.dropdown > a').css("background-color", "#ddd");
				        }
				        else{
				        	$('ul.file_menu').stop(true, true).slideUp('medium');
			    			dropped = 0;
			    			$('li.has-dropdown.dropdown > a').css("background-color", "inherit");
				        }
			        }
			    );
			});
		</script>

  </body>
</html>