{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'yearbook/yearbook_style.css' %}">
    <style>
        #content-div {
            background: white;
        }
    </style>



    <div class="container" style="margin-bottom: 20em;">
        <center><div style="margin: 1em 0 0em 0;font-size: 120px;color: orange" class="custom-font-3"><b>Into the Pensieve</b></div></center>
        <center><div style="margin: 0em 0 1em 0;font-size: 65px;" class="custom-font">YearBook</div></center>

        <h2 style="color: black;margin-left: 1em;" class="mx-2 custom-font-1">Years :</h2>
        <hr>

        <ul class="">
        {% for year in years %}
            <a href="{% url 'yearlist' %}{{ '?year=' }}{{ year.year }}" style="font-size: 26px; text-decoration: none"><div class="regno-list-item">{{ year.year }}</div></a>
        {% endfor %}
        </ul>
    </div>





    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock content %}