
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<meta content="width=device-width, initial-scale=1" name="viewport" />

<style>
    .tick {
    stroke-opacity: 0;
    stroke-dasharray: 29px;
    stroke-dashoffset: 29px;
    animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
    animation-delay: .6s
}

.circle {
    fill-opacity: 0;
    stroke: #219a00;
    stroke-width: 16px;
    transform-origin: center;
    transform: scale(0);
    animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }
    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {
    0%, 100% { stroke-opacity: 1; }
    100% { stroke-dashoffset: 0; }
}

:root {
  --theme-color: var(--color-purple);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    @media (max-width: 480px) and (min-width: 0px){
        #success
        {
            width: 40%;
            height: auto;
        }
    }
    @media (min-width: 480px){
        #success
        {
            width: 150px;
            height: auto;
        }
    }



</style>



<div id="success" class="svg-container text-center img-responsive" >
    <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" aria-hidden="true">
        <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
        <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
    </svg>
    <br><br>
<center><a href="{% url 'alumni' %}?regno={{ regno }}" class="btn btn-primary" > View your <br>YearBook Entry</a></center>

</div>


<script>
    let path = document.querySelector(".tick");
let length = path.getTotalLength();

console.log(length);
</script>