{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'yearbook/yearbook_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <style>
        #content-div {
            background: white;
        }
    </style>



    <div class="container" style="/*background: url('/media/images/newscroll.png') no-repeat; background-size: cover;*/">

        <center><div style=" margin: 1em 0 -25px 0;font-size: 75px;" class="custom-font">YearBook</div></center>
        {% if year %}
            <center><div style=" margin: 0em 0 -25px 0;font-size: 55px;" class="custom-font">of</div></center>
            <center><div style=" margin: 0em 0 1.5em 0;font-size: 75px;" class="custom-font">{{ year }}</div></center>
        {% endif %}
        <div class="row">
            <div class="col-lg-9">
            <h2 style=" display: inline; font-size: 35px;" class="mx-2 custom-font-1" >Registraion Numbers</h2>
            </div>
            <div class="col-lg-3">
                <form method="GET" action="/yearbook/alumni" style="margin-top: 5px;"><input type="number" placeholder="registration no." name="regno"><button type="submit"><i class="fa fa-search"></i></button></form>
            </div>
        </div>
        <hr style="margin-top: 2em;">

        
        {% for regno in regnos %}
            <a style="text-decoration: none;" href="{% url 'alumni' %}{{ '?regno=' }}{{ regno.regno }}" style="font-size: 16px;"><div style="font-size: 20px;" class="regno-list-item custom-font-2">{{ regno.regno }}</div></a>
        {% endfor %}
        
    <div>





    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% endblock content %}